<nav>
  <a href="/" target="" alt="home" title="home">home</a> |
  <a href="/reverser" target="" alt="form" title="form">reverser form</a> |
  <a href="/tacos" target="" alt="tacos" title="tacos">tacos</a> |
  <a href="/special" target="" alt="special" title="special">special layout</a>

</nav>