
<h1>Reverser</h1>
<p>Reverse this string!</p>

<form action="/reversed_result" method="post">
  <label name="word_input">Input Word</label>
  <input type="text" name="word_input">
  <input type="submit">
</form>
