<!DOCTYPE html>
<html>
  <head>
    <meta name="description" content="reverser">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>reverser</title>
    <script src="https://code.jquery.com/jquery-3.1.0.js"></script>
    <script type="text/javascript" src="scripts.js"></script>
    <link rel="stylesheet" type="text/css" href="styles.css">
  </head>
  <body>
    <h1>I'm a nested layout. Yeehaw!</h1>

    <%= yield %>

  </body>
</html>